<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h3>{{ id ? "Update User" : "Create User" }}</h3>

  <!-- first name -->
  <div class="mb-3">
    <label for="name">First Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      formControlName="firstName"
    />
    <div
      *ngIf="!firstName.valid && firstName.touched"
      class="alert alert-danger"
    >
      <h6 *ngIf="firstName.errors?.['required']">this field is required</h6>
      <h6 *ngIf="firstName.errors?.['minlength']">
        the name must be mor than 2 characters 
      </h6>
    </div>
  </div>

  <!-- last name -->
  <div class="mb-3">
    <label for="lname">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lname"
      name="lname"
      formControlName="lastName"
    />
    <div *ngIf="!lastName.valid && lastName.touched" class="alert alert-danger">
      <h6 *ngIf="lastName.errors?.['required']">this field is required</h6>
      <h6 *ngIf="lastName.errors?.['minlength']">
        the lastName must be mor than 2 chars long
      </h6>
    </div>
  </div>

  <!-- email -->
  <div class="mb-3">
    <label for="email">E-Mail</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      formControlName="email"
    />

    <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
      <h6 *ngIf="email.errors?.['required']">this field is required</h6>
      <h6 *ngIf="email.errors?.['pattern']">email is not valid</h6>
    </div>
  </div>

  <!-- update inputs -->
  <div *ngIf="id">
    <!-- title -->
    <div class="mb-3">
      <label for="title">Title</label>
      <select
        class="form-control"
        id="title"
        name="title"
        formControlName="title"
      >
        <option *ngFor="let t of titles" [value]="t">{{ t }}</option>
      </select>
    </div>

    <!-- gender -->
    <div class="mb-3">
      <label for="gender">Gender</label>
      <select
        class="form-control"
        id="gender"
        name="gender"
        formControlName="gender"
      >
        <option *ngFor="let g of genders" [value]="g">{{ g }}</option>
      </select>
    </div>

    <!-- pic -->
    <div class="mb-3">
      <label for="pic">Picture</label>
      <input
        type="text"
        class="form-control"
        id="pic"
        name="pic"
        formControlName="picture"
      />
    </div>
  </div>
  <!-- end update inputs -->

  <!-- submit button -->
  <button
    class="btn btn-primary me-3 p-2"
    type="submit"
    [disabled]="!userForm.valid || userForm.pristine"
  >
    Submit
  </button>

  <!-- back button -->
  <button
    class="btn btn-warning m-2 p-2"
    type="reset"
    (click)="backToUserList()"
  >
    Back
  </button>

  <div *ngIf="errors.length" class="alert alert-danger">
    <h5 *ngFor="let err of errors" class="m-2">{{ err }}</h5>
  </div>
  <div
    class="alert alert-danger"
    *ngIf="userForm.errors?.['duplicate'] && (userForm.touched || userForm.dirty )"
  >
    first name and last name must be different
  </div>

  <div *ngIf="success" class="alert alert-success">{{ success }}</div>

  <div>{{ userForm.value | json }}</div>
</form>
