<div class="container bg-light" style="height: 100vh">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white bg-secondary rounded-bottom"
  >
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fs-3" (click)="activate(0)" routerLink="home"
          >Home</a
        >
        <a class="nav-link fs-3" (click)="activate(1)" routerLink="users"
          >User List</a
        >
        <a class="nav-link fs-3" (click)="activate(2)" routerLink="about"
          >About</a
        >
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
