<table class="table w-75 mx-auto">
  <thead>
    <tr>
      <th class="col">ID</th>

      <th class="col">First Name</th>
      <th class="col">Last Name</th>
      <th class="col">
        <button class="btn btn-primary" (click)="createUser()">
          create user
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td class="col" (click)="moveToDetails(user.id)">{{ user.id }}</td>
      <td class="col">{{ user.firstName }}</td>
      <td class="col">{{ user.lastName }}</td>
      <td class="col">
        <button class="btn btn-info m-1" (click)="updateUser(user.id)">
          Edit
        </button>
        <button class="btn btn-danger m-1" (click)="deleteUser(user.id)">
          Del
        </button>
      </td>
    </tr>
  </tbody>
</table>
