<div [formGroup]="form">
  <label [attr.for]="input.key">{{ input.label }}</label>
  <input
    [formControlName]="input.key"
    [id]="input.key"
    [type]="input.type"
    [required]="input.required"
    class="form-control"
    (focus)="getErrors()"
    (input)="getErrors()"
  />
  <div
    class="alert alert-danger"
    *ngIf="errors?.required && form.controls[this.input.key].touched"
  >
    {{ input.label }} is required
  </div>
  <div class="alert alert-danger" *ngIf="errors?.email">Email not valid</div>

  <div class="alert alert-danger" *ngIf="errors?.minlength">
    {{ input.label }} must be more than
    {{ errors?.minlength.requiredLength }} characters
  </div>
</div>
