<form class="form-group mb-3">
  <div [ngSwitch]="input.controlType">
    <app-input-text
      [input]="input"
      [form]="form"
      *ngSwitchCase="'text'"
    ></app-input-text>

    <app-input-select
      [input]="input"
      [form]="form"
      *ngSwitchCase="'select'"
    ></app-input-select>

    <app-array-from [input]="input" [form]="form" *ngSwitchCase="'array'">
    </app-array-from>
  </div>

  <div
    class="alert alert-danger"
    *ngIf="errors?.['required'] && control.touched"
  >
    {{ input.label }} is required
  </div>
  <div class="alert alert-danger" *ngIf="errors?.['email'] && control.touched">
    Email not valid
  </div>

  <div
    class="alert alert-danger"
    *ngIf="errors?.['minlength']&& control.touched"
  >
    {{ input.label }} must be more than
    {{ errors?.['minlength'].requiredLength }} characters
  </div>

  <div class="alert alert-danger" *ngIf="errors?.['min']&& control.touched">
    {{ input.label }} must be more than {{ errors?.['min'].min }}
  </div>
</form>
